/* Fonts */
@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Rubic";
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Rubic";
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/*-------------------*/

body {
  font-family: "Rubic", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

.btn {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-align: center;
  color: #000000;
  border: none;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.visually-hidden {
}
/*--------header---------*/

.navigation-user_form,
.navigation-user_list {
  font-size: 16px;
  line-height: 20px;
}

.navigation-user_personal {
  color: #000000;
  text-decoration: none;
}
.navigation-user_compare {
  color: #000000;
  text-decoration: none;
}
.navigation-user_card {
  color: #000000;
  text-decoration: none;
}

.card_container {
  background-color: #000000;
  color: #ffffff;

  font-size: 16px;
  line-height: 20px;
}

.card_item_title {
  color: #ffffff;
}

.card_link {
  color: #ffffff;
  text-decoration: none;
}
.navigation {
  font-family: "Raleway", sans-serif;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.navigation a {
  text-decoration: none;
  color: #000000;
}

.navigation_submenu {
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  background-color: #ffe17f;
}

/*-------main---------*/

/*-------slider-device---------*/

.slider-devices_title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.slider-devices_advantages th {
  font-size: 36px;
}

.slider-devices_advantages td {
  font-size: 16px;
}

/*--------product_cards---------*/

.product_title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

/*-------slider_property-------*/

.slider_title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

/*-------rare-good-------*/

.rare-good_title {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*-------info------*/

.about-us_title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.about-us_item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.contacts-address_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.contacts-address-text {
  font-style: normal;
  color: #000000;
}

.contacts-phone_link {
  text-decoration: none;
  color: #000000;
}
.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

/*-------subscribe------*/

.subscribe {
  background-color: #f0f0f0;
}
.subscribe_title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

/*--------footer---------*/

.page_footer {
  background-color: #444444;
  color: #ffffff;
}

.footer-contacts-address {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer_item {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.footer_item a {
  color: #ffffff;
  text-decoration: none;
}

.contacts-phone {
  color: #ffffff;
}

/*------catalog------*/
/*------inner-header------*/

.inner-header {
  color: #000000;
  background-color: #f0f0f0;
}
.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

/*------filter------*/

.wrapper_catalog {
  background-color: #f0f0f0;
}

.catalog-filter_title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.control {
  font-size: 16px;
  line-height: 19px;
}

/*------products_card------*/

.product_cards {
  background-color: #ffffff;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  color: #000000;
  line-height: 20px;
}
.product-card-price {
  font-weight: 400;
  line-height: 21px;
  color: #000000;
}
.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
.pagination {
  background-color: #ebebeb;
}

.pagination-link {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-next {
  text-decoration: none;
  color: #000000;
}
